/* Example colors */
:root {
  --type-regular: 'Roboto-Regular', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif;
  --type-bold: 'Roboto-Bold', roboto, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
  --type-medium: 'Roboto-Medium', roboto, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
  --type-mono: 'Roboto-Mono', monospace;
  --header-height: 48px;
  --form-label-font-size: 1rem;
  --color-text: #737373;

  --page-background-color: #f3f5f7;

  --self-service-portal-login-sidebar-image-display: flex;
  --self-service-portal-login-sidebar-background-image-url: url('../images/bg-lines-magenta.svg');
  --self-service-portal-login-sidebar-background-color: var(--color-primary-dark);
  --self-service-portal-sidebar-background-color: white;
  --self-service-portal-main-background-color: white;
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Roboto-Mono;
  font-weight: normal;
  src: url('../fonts/roboto-mono-v12-latin-regular.woff2') format('woff2');
}

body {
  font-family: var(--type-regular);

  &:has(.header) {
    padding-top: var(--header-height);
  }
}

body {
  background-color: var(--page-background-color);
}

#root {
  min-height: 100dvh;
}

#root>div:has(#svgTitle) {
  height: 100dvh;
}

#root>.spinner-container {
  top: calc(50% - var(--spinnerCircleSize) / 2);
  left: calc(50% - var(--spinnerCircleSize) / 2);
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  font-family: var(--type-bold);
}

fieldset {
  min-width: 0;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
  font-family: var(--type-bold);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 90vw;
  margin-bottom: 0;
  padding: 0;
}

pre code {
  white-space: pre-wrap;
  overflow-x: auto;
  word-break: break-all;
  font-family: var(--type-mono);
  color: var(--color-spot);
  border: 1px solid rgb(0 0 0 / 5%);
  background-color: #f7fafc;
  padding: 0 0.25rem;
  font-size: 0.9em;
  overflow-wrap: anywhere;
  border-radius: 4px;
}

textarea {
  padding: var(--form-field-padding);
}


svg {
  max-width: 100%;
}

/* OTP INPUT */
.vi:focus-visible {
  outline: none;
  box-shadow: none;
}

.otp-input-character-inactive {
  box-shadow: var(--color-grey-light) 0 0 0 3px;
}

.otp-input-character-selected {
  color: var(--color-spot);
}

.otp-input-character-selected {
  box-shadow: var(--color-spot) 0 0 0 3px;
  position: relative;

  &::before {
    --h: 80%;
    --w: 2px;
    --d: 6px;
    content: '';
    position: absolute;
    left: var(--d);
    top: calc(var(--d) * 2);
    bottom: 0;
    width: var(--w);
    height: calc(100% - calc(var(--d) * 4));
    background-color: black;
    opacity: 1;
    animation: caret-blink 1s infinite ease-in-out;
  }
}

@keyframes caret-blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.otp-input-character-filled {
  box-shadow: var(--color-primary-light) 0 0 0 1px;

  &:is(.totop-character-selected) {
    &::before {
      display: none;
    }
  }
}
