#*
 * Copyright (C) 2026 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *#

#parse("authenticator/webauthn/js/common-js")

<script $!nonceAttr>
    const registerReplacementDevice = () => {
        $("#waitingDiv").showElement();
        $("#registerDiv, #alertWrapper").hideElement();

        createPublicKeyCredential($_json)
                .then(response => {
                    $("input[name='json']").val(JSON.stringify(response));
                    $("#replaceStaleCredentialForm").submit();
                }).catch(handleError);
    }

    const handleError = (error) => {
        let userCancelOrTimeout = error.name === webAuthnErrors.NOT_ALLOWED || error.name === webAuthnErrors.ABORTED
        console.info("ERROR", error)

        if (userCancelOrTimeout) {
            showInfo('#message("${_templatePrefix}.view.error.cancel-or-timeout")');
        } else {
            showError('#message("${_templatePrefix}.view.error.registration")');
        }

        $("#waitingDiv").hideElement();
        $("#registerDiv").showElement();
    }

    $("#replaceStaleCredentialButton").click(registerReplacementDevice);
</script>
