.password-policy {
	border-width: var(--form-field-border-width);
	border-style: var(--form-field-border-style);
	border-color: var(--form-field-border-color);
}

.password-policy h4,
.password-policy p {
	text-align: left;
}

.password-policy-rule {
	cursor: help;
}

.password-policy-rule-satisfied .password-policy-rule-checkmark-circle {
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.password-policy-rule-satisfied .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out 0.4s forwards,
		scale 0.3s ease-in-out 0.9s both;
}

.password-policy-rule-satisfied .password-policy-rule-checkmark-check {
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

li.password-policy-rule-satisfied:nth-child(1) .password-policy-rule-checkmark-circle {
	animation-delay: calc(1 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(1) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(1 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(1 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(1) .password-policy-rule-checkmark-check {
	animation-delay: calc(1 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(2) .password-policy-rule-checkmark-circle {
	animation-delay: calc(2 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(2) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(2 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(2 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(2) .password-policy-rule-checkmark-check {
	animation-delay: calc(2 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(3) .password-policy-rule-checkmark-circle {
	animation-delay: calc(3 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(3) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(3 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(3 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(3) .password-policy-rule-checkmark-check {
	animation-delay: calc(3 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(4) .password-policy-rule-checkmark-circle {
	animation-delay: calc(4 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(4) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(4 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(4 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(4) .password-policy-rule-checkmark-check {
	animation-delay: calc(4 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(5) .password-policy-rule-checkmark-circle {
	animation-delay: calc(5 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(5) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(5 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(5 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(5) .password-policy-rule-checkmark-check {
	animation-delay: calc(5 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(6) .password-policy-rule-checkmark-circle {
	animation-delay: calc(6 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(6) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(6 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(6 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(6) .password-policy-rule-checkmark-check {
	animation-delay: calc(6 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(7) .password-policy-rule-checkmark-circle {
	animation-delay: calc(7 * 0.1s / 2);
}

li.password-policy-rule-satisfied:nth-child(7) .password-policy-rule-checkmark {
	animation: fill 0.4s ease-in-out calc(7 * 0.1s / 2) forwards,
		scale 0.3s ease-in-out calc(7 * 0.2s / 2) both;
}

li.password-policy-rule-satisfied:nth-child(7) .password-policy-rule-checkmark-check {
	animation-delay: calc(7 * 0.1s / 2);
}

.password-policy-rule-checkmark {
	--size: 20px;
	height: var(--size);
	width: var(--size);
	border-radius: 50%;
	stroke: #fff;
	stroke-miterlimit: 10;
	stroke-width: 3;
	position: absolute;
	left: 0;
	box-shadow: inset 0 0 0 2px var(--color-text);
	display: block;
	max-width: unset;
}

.password-policy-rule-checkmark-circle {
	fill: none;
	stroke: var(--color-success);
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-miterlimit: 10;
	stroke-width: 2;
}

.password-policy-rule-checkmark-check {
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	transform-origin: 50% 50%;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {

	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.25, 1.25, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0 0 0 30px var(--color-success);
	}
}
