.page-header {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  padding-top: var(--space-2);
  padding-bottom: clamp(var(--space-2), 5vh, calc(var(--space-4) * 3));
}

.page-header-icon {
  color: white;
  border-radius: 100%;
  background-color: var(--color-primary);
  flex: 0 0 auto;

  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.page-header p {
  text-wrap: balance;
}
