tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}

tr:not(:has([aria-labelledby="empty-state-heading"])):hover td {
	background-color: color-mix(in srgb, var(--color-grey-light), white 80%);
}
