.layout {
  --sidebarWidth: 360px;
  display: grid;
  grid-template-columns: var(--sidebarWidth) 1fr;
  min-height: 100dvh;
  gap: 0;
}

.mainContent section {
  min-height: calc(100dvh - var(--header-height));
}
