.table-header {
  padding: var(--space-2);
  border: none;
  font-size: smaller;
  background-color: var(--color-grey-subtle);
  text-align: left;
  font-family: var(--type-bold);
  font-size: clamp(0.75rem, 2vmin, 0.75rem);
  letter-spacing: 0.15em;
  text-align: left;
  text-transform: uppercase;

  &:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: 0;
  }

  &:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: 0;
  }

  :is(first-child) {
    border-top-left-radius: var(--border-radius);
  }

  :is(last-child) {
    border-top-right-radius: var(--border-radius);
  }
}
