.input-requirements {
  border-width: var(--form-field-border-width);
  border-style: var(--form-field-border-style);
  border-color: var(--form-field-border-color);
}

.input-requirements h4,
.input-requirements p {
  text-align: left;
}

.input-requirements-rule {
  cursor: help;
}

.input-requirements-rule-satisfied .input-requirements-rule-checkmark-circle {
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.input-requirements-rule-satisfied .input-requirements-rule-checkmark {
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.input-requirements-rule-satisfied .input-requirements-rule-checkmark-check {
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

$password-rules: 7;
$delay-increment: 0.1s;
$delay-increment-long: 0.2s;

@for $i from 1 through $password-rules {
  li.input-requirements-rule-satisfied:nth-child(#{$i}) {
    .input-requirements-rule-checkmark-circle {
      animation-delay: $i * $delay-increment / 2;
    }
    .input-requirements-rule-checkmark {
      animation: fill 0.4s ease-in-out $i * $delay-increment / 2 forwards,
        scale 0.3s ease-in-out $i * $delay-increment-long / 2 both;
    }
    .input-requirements-rule-checkmark-check {
      animation-delay: $i * $delay-increment / 2;
    }
  }
}

.input-requirements-rule-checkmark-circle {
  fill: none;
  stroke: var(--color-success);
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-miterlimit: 10;
  stroke-width: 2;
}

.input-requirements-rule-checkmark {
  --size: 20px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 var(--color-success);
  display: block;
  height: var(--size);
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3;
  width: var(--size);
  position: absolute;
  left: 0;
}

.input-requirements-rule-checkmark {
  box-shadow: inset 0 0 0 2px var(--color-text);
  display: block;
}

.input-requirements-rule-checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  transform-origin: 50% 50%;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.25, 1.25, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0 0 0 30px var(--color-success);
  }
}
