.header {
  height: var(--header-height);
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--color-grey-light);
  position: fixed;
  background-color: white;
  z-index: 2;
  width: max-content;
  white-space: nowrap;
  width: 100%;
}

@media (width >=64em) {
  .header button[aria-controls='sidebar-navigation'] {
    display: none;
  }
}

.header a {
  --color-link: black;
  --color-link-hover: black;
}

.header button,
.header svg {
  flex-shrink: 0;
}

/*
TODO: this should be moved to @curity/ui-kit-css
to be used by UserMenu and the new language selector component
*/
.user-menu {
  position: absolute;
  right: var(--space-1);
  height: min-content;
  width: max-content;
  border: 1px solid var(--color-grey-light);
  background: white;

  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);

  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transform-origin: top right;
  transition-property: transform, opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.1s;

  [role='menuitem'] {
    border-radius: calc(var(--button-border-radius) - 1px);
  }
}

.user-menu-open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.user-menu-chevron {
  transition: transform 200ms ease-in-out;
  transform-origin: center;
}

.user-menu-chevron-open {
  transform: rotate(180deg);
}

.user-menu-username {
  width: fit-content;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
