.dialog {
  --reveal-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--form-field-border-radius);
  position: fixed;
  -webkit-overflow-scrolling: touch;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  width: 100%;
  max-height: 80dvh;
  overflow-y: auto;
  background: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 0;
  animation: dialog-enter 0.2s var(--reveal-animation-timing-function) forwards;
}

.dialog header {
  z-index: 1;
}

:global([data-reach-dialog-overlay]) {
  background-color: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 10;
}

.dialog main {
  height: 100%;
}

.dialog-footer {
  border-bottom-right-radius: var(--form-field-border-radius);
  border-bottom-left-radius: var(--form-field-border-radius);
}

@keyframes dialog-enter {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(calc(-50% + 40px));
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
  }
}
