#*
 a* Copyright (C) 2026 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *#

## Shared BankID poller fragment.
## Requires:
##   Velocity variable:
##     $bankidKeyPrefix - Message key prefix for RFA messages (e.g. "authenticator.bankid.service")
##     $_maxWaitTime - Timeout in seconds (default to 60 seconds)
##   JS object: se.curity.bankid.pollingSettings (defined in a <script> tag before this fragment is parsed)
##     .pollUrl           - Poll endpoint URL
##     .failureUrl        - Failure redirect URL
##     .messageSelector   - CSS selector for message display element
##     .qrSelector        - CSS selector for QR code image element
##     .manualStartSelector - CSS selector for manual start link
##     .onSuccess()       - Callback on authentication success
##     .onBankidUserCancel() - Callback on user cancel in BankID app
##     .postData            - (optional) Object with data to include in the poll POST body

#set($rfa1 =  "${bankidKeyPrefix}.rfa1")
#set($rfa9 =  "${bankidKeyPrefix}.rfa9")
#set($rfa13 = "${bankidKeyPrefix}.rfa13")
#set($rfa14 = "${bankidKeyPrefix}.rfa14")
#set($rfa15 = "${bankidKeyPrefix}.rfa15")
#set($rfa21 = "${bankidKeyPrefix}.rfa21")
#set($rfa23 = "${bankidKeyPrefix}.rfa23")

#if ( !$_maxWaitTime )
    #set ( $_maxWaitTime = 60 )
#end

#parse("fragments/jquery")

<script type="text/javascript" $!nonceAttr>
    const se = {'curity': {'bankid': {}}};

    se.curity.bankid.Poller = function (settings) {
        let messageMappings = {
            "rfa1": "#message($rfa1)",
            "rfa9": "#message($rfa9)",
            "rfa13": "#message($rfa13)",
            "rfa14": "#message($rfa14)",
            "rfa15": "#message($rfa15)",
            "rfa21": "#message($rfa21)",
            "rfa23": "#message($rfa23)"
        };

        const requireFunction = (fn, name) => {
            if (typeof fn !== 'function') {
                throw new Error(name + ' is not a function');
            }
            return fn;
        }

        let stopPolling = false;

        const pollOnce = (pollSettings, onDone) => {
            const onFailure = requireFunction(pollSettings.onFailure, 'onFailure');
            const onSuccess = requireFunction(pollSettings.onSuccess, 'onSuccess');
            const onMessage = requireFunction(pollSettings.onMessage, 'onMessage');

            logger.debug("Polling the server.");
            const ajaxOptions = {
                headers: {Accept: "application/json"},
                url: pollSettings.url,
                method: "POST",
                statusCode: {
                    200: function () {
                        ## Not done yet... keep polling
                        logger.debug("Response from server. Not done, keep polling");
                        onDone();
                    },
                    201: function (data) {
                        if (data) {
                            if (data.stopPolling) {
                                logger.debug("Stopping polling");
                                stopPolling = true;
                                return;
                            } else if (data.message.redirectUrl) {
                                logger.debug("Redirecting to: " + data.message.redirectUrl)
                                window.location.replace(data.message.redirectUrl);
                                return;
                            } else if (data.message && data.message.status === 'USER_CANCEL') {
                                logger.debug("User cancelled in the BankID app");
                                settings.onBankidUserCancel(); ## Do the actual cancellation
                                return;
                            }
                            if(pollSettings.updateMessage === true) {
                                onMessage(data.message);
                            }
                        }
                        onDone();
                    },
                    202: function () {
                        stopPolling = true;
                        logger.debug("Got successful response");
                        onSuccess();
                    }
                }
            };
            if (pollSettings.postData) {
                ajaxOptions.data = pollSettings.postData;
            }
            $.ajax(ajaxOptions).fail((err) => {
                stopPolling = true;
                onFailure(err);

            });
        }

        const startPolling = (startPollTime, pollSettings) => {
            let timeoutId = undefined;
            let pollTime = 1;
            let pollInterval = pollSettings.pollInterval;
            let maxWaitTime = pollSettings.maxWaitTime;
            let onTimeout = requireFunction(pollSettings.onTimeout, 'onTimeout');
            let iterations = 1;

            const pollForAuthenticationEnd = () => {
                if (stopPolling) {
                    logger.debug("Not polling, since stopPolling is set");
                    return;
                }

                const onDone = (data) => {
                    pollTime += pollInterval;
                    iterations++;
                    if ((pollInterval < 5) && (iterations % 3 === 0)) {
                        pollInterval += 1;
                        logger.debug("Increasing poll interval to " + pollInterval);
                    }


                    if (pollTime > maxWaitTime) {
                        onTimeout();
                    } else if (!stopPolling) {
                        timeoutId = window.setTimeout(pollForAuthenticationEnd, pollInterval * 1000);
                    }
                }

                pollOnce(pollSettings, onDone);
            };

            logger.debug("Starting the poller");
            timeoutId = window.setTimeout(pollForAuthenticationEnd, startPollTime * 1000);

            $(document).on("visibilitychange", () => {
                if (document.visibilityState === "hidden") {
                    logger.debug("Window is not visible, pausing poller");
                    window.clearInterval(timeoutId);
                    stopPolling = true;
                } else if (document.visibilityState === "visible") {
                    logger.debug("Window became visible, restarting the poller.");
                    stopPolling = false;
                    // poll faster when the window is visible again, only adding a small delay
                    timeoutId = window.setTimeout(pollForAuthenticationEnd, 500);
                }
            });

            return () => {
                if (stopPolling) {
                    return false;
                }
                window.clearInterval(timeoutId);
                stopPolling = true;
                return true;
            };
        }

        const createPollSettings = () => {
            let failed = false;
            const failure = (error) => {
                if (!failed) { ## Needed to avoid extra call to onFailure event handler in FF after redirecting
                    failed = true;

                    if (error && error.readyState !== 0) {
                        logger.info("Authentication failed. Redirecting to fail handler");
                        window.location.replace(settings.failureUrl + "?_errorMessage=" + error);
                    } else if (error && error.status === 0) {
                        logger.debug("The browser refused to perform the request. Likely the page is reloading")
                    } else {
                        logger.warn("Poller failed: " + JSON.stringify(error));
                    }
                }
            };

            const timeout = () => {
                logger.debug("Poller timed out");
                failure("authTimeout");
            }

            const message = (data) => {
                if (!data) {
                    logger.info("No message in poll response");
                    $(settings.messageSelector).text("unknown error");

                    return;
                }
                logger.debug("Poller received message: " + JSON.stringify(data));

                if (data.userMessage) {
                    logger.debug("Updating user message: " + data.userMessage)
                    $(settings.messageSelector).text(messageMappings[data.userMessage]);
                }

                if ($(settings.qrSelector) && data.qrCode) {
                    $(settings.qrSelector).attr('src', data.qrCode);
                }

                if ($(settings.manualStartSelector) && data.autoStartToken && se.curity.bankid.launch && se.curity.bankid.launch.browserStrategy)
                {
                    $(settings.manualStartSelector).attr('href', se.curity.bankid.launch.browserStrategy.launchUrl(data.autoStartToken));
                }
            };

            const success = () => {
                logger.debug("Authentication succeeded, submitting form");
                settings.onSuccess();
            }

            return {
                url: settings.pollUrl,
                pollInterval: 1,
                maxWaitTime: $_maxWaitTime,
                restartUrl: settings.failureUrl,
                postData: settings.postData,
                onTimeout: timeout,
                onMessage: message,
                onFailure: failure,
                onSuccess: success
            };
        }

        this.checkStatus = (callback) => {
            const pollSettings = createPollSettings();
            pollSettings.updateMessage = false;
            try {
                return pollOnce(pollSettings, callback);
            } catch (err) {
                pollSettings.onFailure(err);
            }
        }

        this.start = () => {
            const pollSettings = createPollSettings();
            pollSettings.updateMessage = true;
            const firstPollDelay = 2;
            try {
                return startPolling(firstPollDelay, pollSettings);
            } catch (err) {
                pollSettings.onFailure(err);
            }
        }
    }


</script>
