#*
 * Copyright (C) 2023 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *###

## Shared BankID app launcher fragment.
## Requires:
##   Velocity variables:
##     $!authncomplete        - Whether authentication is already complete
##     $!_userCancelled       - Whether the user cancelled in the BankID app
##     $!bankidNeverAutoStart - Never auto-launch the app (configuration)
##     $!_skipAutoLaunch      - Skip auto-launch (e.g. user previously cancelled)
##   JS object: se.curity.bankid.pollingSettings (defined in a <script> tag before this fragment is parsed)
##     .manualStartSelector   - CSS selector for manual start link
##     .cancelFormSelector    - CSS selector for cancel form/button
##     .cancelFormEvent       - Event type for cancel trigger (e.g. "submit" or "click")
##     .onSuccess()           - Callback on authentication success
##     .onBankidUserCancel()  - Callback on user cancel in BankID app
##     .onCancelButton()      - Additional callback on cancel button click (e.g. set cancelled flag)

<script type="text/javascript" $!nonceAttr>

    $(document).ready(function () {

        const pollingSettings = se.curity.bankid.pollingSettings;

        const authnComplete = '$!authncomplete' === 'true';
        if (authnComplete) {
            logger.debug("Authentication was complete");
            pollingSettings.onSuccess();
            return;
        } else {
            logger.debug("Authentication is not yet completed. ")
        }

        const userCancelled = '$!_userCancelled' === 'true'
        if (userCancelled) {
            logger.debug("User cancelled in app");
            pollingSettings.onBankidUserCancel();
            return;
        }

        const poller = new se.curity.bankid.Poller(pollingSettings);

        ## Poll once before setting up to check status of transaction. If this is a page reload,
        ## the poll should determine if authentication was completed or cancelled
        poller.checkStatus(() => {
            logger.debug("Check status poll completed");
            #parse("fragments/bankid/check-platform-capabilities.js")

            let browserStrategy = getBrowserStrategy();
            se.curity.bankid.launch = {'browserStrategy': browserStrategy};

            if (browserStrategy.platform === PLATFORM_IOS) {
                if (window.self !== window.top) {
                    ## We're framed. User will have to manually open the app. Univeral links in frames require
                    ## user interaction
                    ## *OBS* Cancel in the BankID app will break the user out of the frame because we can't access
                    ## window.top.location across origins
                    logger.debug("Page is framed. Auto launching the BankID app will likely not work");
                    $(pollingSettings.manualStartSelector).attr("target", "_top");
                }
            }

            ## Cancel poller on cancel
            let cancelFunction = poller.start();
            $(pollingSettings.cancelFormSelector).on(pollingSettings.cancelFormEvent, function() {
                if (cancelFunction()) {
                    pollingSettings.onCancelButton();
                }
            });

            ## Cancel poller on click on Extend link
            $('#qr-time-extend').click(() => { cancelFunction(); return true;})

            #if($!bankidNeverAutoStart)
                logger.debug("Not launching the app per configuration.");
            #elseif($!_skipAutoLaunch)
                logger.debug("Not launching the app since the user previously cancelled in the app");
            #else
                if (!browserStrategy.neverAutoLaunch) {
                    browserStrategy.launchApp();
                } else {
                    logger.debug("Not launching the app per browser strategy configuration");
                }
            #end

            $(pollingSettings.manualStartSelector).attr('href', browserStrategy.launchUrl());

        });
    });
</script>
