#*
 * Copyright (C) 2015 Curity AB. All rights reserved.
 *
 * The contents of this file are the property of Curity AB.
 * You may not copy or use this file, in either source code
 * or executable form, except in compliance with terms
 * set by Curity AB.
 *
 * For further information, please contact Curity AB.
 *#

#*
 * This template is used to add a logo to the page views.
 *
 * For a full list of variables available in this template and their associated values, do the following:
 *
 * 1. Create a file called globals.vm in <installation-dir>/usr/share/templates/overrides/fragments
 *
 * 2. Add the following to this new file:
 *
 * <!--
 *    All variables:
 *    #foreach ($entry in $_context.entrySet())
 *        $entry.key => $!entry.value
 *    #end
 * -->
 *
 * 3. Request this template again and view the HTML source code. All variables and their values will be shown in an
 *    HTML comment at the top of the file.
 *
 * For more information about using the Velocity templating language, refer to
 * http://velocity.apache.org/engine/devel/user-guide.html.
 *#

#*
 * The dark skin needs the negative logotype. When `logo_white_path` is not set - a settings.vm in
 * `overrides` or a template-area that sets only `logo_path`, for instance - fall back to the bundled
 * negative logotype rather than emitting the path as-is: `$!logo_white_path` renders an unset or
 * empty variable as `src=""`, which the browser reports as a missing image with no other clue.
 *#
#if ($body_background == 'body-dark')
    #if ($logo_white_path && $logo_white_path.length() > 0)
        #set ($_resolved_logo_path = $logo_white_path)
    #else
        #set ($_resolved_logo_path = $!_staticResourceRootPath + '/assets/images/curity-logo-white.svg')
    #end
#else
    #set ($_resolved_logo_path = $!logo_path)
#end
	<img class="login-logo" src="$!_resolved_logo_path" alt="Logo" title="Logo" role="presentation" width="140" height="40">
