.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  min-height: calc(100dvh - var(--header-height));
  align-items: start;
  justify-items: start;
  padding: var(--space-4);
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
