::backdrop {
  background-color: var(--color-primary-dark);
  opacity: 0.5;
}

dialog {
  border-radius: var(--form-field-border-radius);
  margin: 0 auto;
  max-width: 600px;
  background-color: white;
  top: 25%;
  position: relative;
  border: 1px solid var(--form-field-border-color);
}

dialog header {
  border-bottom: 1px solid var(--form-field-border-color);
}

dialog footer {
  background-color: #f6f6f6;
}
