:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 2rem auto;
  width: 90%;
  min-height: 100vh;
}

svg {
  max-width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
  gap: 1rem;
}

pre {
  background-color: #211f1f;
  color: #f6f6f6;
  width: max-content;
  padding: 1rem 2rem;
  border-radius: 8px;
}

:where(h1,h2,h3) {
  font-family: sans-serif
}
