@import '@curity/ui-kit-css/lib/dist/index.css';

/* Base styles */
:root {
  --type-regular: 'Roboto-Regular', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif;
  --type-bold: 'Roboto-Bold', roboto, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
  --type-medium: 'Roboto-Medium', roboto, -apple-system, blinkmacsystemfont, 'Segoe UI', helvetica, arial, sans-serif;
  --type-mono: 'Roboto-Mono', monospace;
  --form-label-font-size: 1rem;
  --color-text: #737373;
  --page-background-color: #f3f5f7;
  --header-height: 48px;
}

@font-face {
  font-family: Roboto-Regular;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Roboto-Medium;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Roboto-Medium.woff2') format('woff2');
}

@font-face {
  font-family: Roboto-Bold;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Roboto-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Roboto-Mono;
  font-weight: normal;
  src: url('/fonts/roboto-mono-v12-latin-regular.woff2') format('woff2');
}

body {
  font-family: var(--type-regular);

  &:has(.header) {
    padding-top: var(--header-height);
  }
}

body {
  background-color: var(--page-background-color);
}

#root {
  min-height: 100dvh;
  height: 100%;
}

#root > div:has(#svgTitle) {
  height: 100dvh;
}

#root > .spinner-container {
  top: calc(50% - var(--spinnerCircleSize) / 2);
  left: calc(50% - var(--spinnerCircleSize) / 2);
}

input,
button,
textarea,
select {
  font: inherit;
}

label {
  font-family: var(--type-bold);
}

fieldset {
  min-width: 0;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
  font-family: var(--type-bold);
}

p + p {
  margin-top: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
  max-width: 90vw;
  margin-bottom: 0;
  padding: 0;
}

pre code {
  white-space: pre-wrap;
  overflow-x: auto;
  word-break: break-all;
  font-family: var(--type-mono);
  color: var(--color-spot);
  border: 1px solid rgb(0 0 0 / 5%);
  background-color: #f7fafc;
  padding: 0 0.25rem;
  font-size: 0.9em;
  overflow-wrap: anywhere;
  border-radius: 4px;
}

textarea {
  padding: var(--form-field-padding);
}

svg {
  max-width: 100%;
}

.app-layout {
  place-content: center;
  height: calc(100dvh - var(--header-height));
  margin-top: var(--header-height);
}

/* Pretty printing JSON */
.json-pretty-print-root {
  font-family: monospace;
  font-size: 1em;
}
.json-pretty-print-string {
  color: #690;
}
.json-pretty-print-number {
  color: #905;
}
.json-pretty-print-boolean {
  color: #07a;
}
.json-pretty-print-null {
  color: #888;
  font-style: italic;
}
.json-pretty-print-key {
  color: #1c00cf;
}
.json-pretty-print-brace,
.json-pretty-print-bracket {
  color: #555;
}
.json-pretty-print-comma,
.json-pretty-print-colon {
  color: #aaa;
}



/* Stepper styles */
.haapi-stepper-selector {
  @extend .center, .py2;
}

.haapi-stepper-messages {
  @extend .center, .py2;
}

.haapi-stepper-form-field-text-input {
  @extend .field, .w100, .mt2;
  font-family: var(--type-regular);
}

.haapi-stepper-form-field-password-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-1);
  position: relative;
}

.haapi-stepper-form-field-password-input {
  @extend .haapi-stepper-form-field-text-input;
  flex: 1;
}

.haapi-stepper-form-field-password-visibility-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  height: calc(var(--form-field-height) / 2);
  width: calc(var(--form-field-height) / 2);
  padding: unset;
  position: absolute;
  right: var(--space-1);
  vertical-align: middle;
  top: calc(50%);
}

.haapi-stepper-form-field-password-visibility-toggle:focus-visible {
  border-color: var(--form-field-border-color-focus);
  box-shadow: var(--form-field-box-shadow-focus);
  outline: none;
}

.haapi-stepper-form-field-checkbox-input {
}

.haapi-stepper-form-field-text-label,
.haapi-stepper-form-field-checkbox-label,
.haapi-stepper-form-field-select-label,
.haapi-stepper-form-field-password-label {
  @extend .left-align, .label, .block, .mt2;
}

.haapi-stepper-form-field-checkbox-label {
  display: flex;
  gap: var(--space-1);

  input {
    order: -1;
  }
}

.haapi-stepper-form-field-select-input {
}

.haapi-stepper-button {
  @extend .button, .button-medium, .button-primary, .w100, .mt2;
}

.haapi-stepper-button-outline {
  @extend .button, .button-medium, .button-primary-outline, .w100, .mt2;
}

.haapi-stepper-well {
  @extend .p3, .mx-auto, .bg-white, .br-8;
  width: clamp(280px, 90%, 560px);
  box-shadow: 0 4px 24px var(--color-grey-light);
  margin: 0 auto;
}

.haapi-stepper-links {
  @extend .center, .py3, .flex, .flex-column;
}

.haapi-stepper-link {
  @extend .button, .button-small, .button-link;
}

.haapi-stepper-actions {
  @extend .center, .flex, .flex-column;
}

.haapi-stepper-heading {
  &:is(h1) {
    font-size: calc(var(--type-base-size) * 1.75);

    &:is(:first-of-type) {
      margin-top: 0;
    }
  }
}

.haapi-stepper-userName {
}

.haapi-stepper-userCode {
  display: inline-block;
  width: min(100%, 100px);
}

.haapi-stepper-polling-progress {
  border-radius: var(--form-field-border-radius);
  background-color: var(--color-grey-subtle);
  outline: 1px solid var(--color-grey-light);
  outline-offset: 2px;
  border: none;

  &::-webkit-progress-bar {
    background-color: var(--color-grey-subtle);
    border-radius: var(--form-field-border-radius);
  }

  &::-webkit-progress-value {
    background-color: var(--color-spot);
    border-radius: var(--form-field-border-radius);
  }

  &::-moz-progress-bar {
    background-color: var(--color-spot);
    border-radius: var(--form-field-border-radius);
  }
}

.haapi-stepper-link-qr-code-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.haapi-stepper-link-qr-code {
  margin: 0;
}

.haapi-stepper-link-qr-code img {
  margin-inline: auto;
  max-width: 250px;
}

.haapi-stepper-link-qr-code-title {
  text-align: center;
  margin-top: var(--space-1);
}

.haapi-stepper-link-qr-code-dialog {
  border: none;
  background: transparent;
  padding: var(--space-2);
}

.haapi-stepper-link-qr-code-dialog::backdrop {
  background: rgb(0 0 0 / 80%);
}

.haapi-stepper-link-qr-code-dialog-image {
  width: min(90vw, 400px);
  height: auto;
  cursor: pointer;
}

.haapi-stepper-error-boundary-fallback {
  min-height: 100dvh;
  @extend .flex, .flex-column, .flex-center, .justify-center, .h100;
}
